</table>
<footer> 
  <table>
    <tr>
      <td class="foot-first"><%= link_to 'Books table', books_path %></td>
      <td class="foot-last"><%= link_to 'Authors', authors_path %></td>
    </tr>
  </table>
</footer>